html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.controls {
    padding-bottom: 5px;
    margin-bottom: 25px;
    box-shadow: 6px 6px 5px #cecdcd;
}

.row {
    margin-top: 5px;
    margin-bottom: 10px;
}

.funcLabel {
    color: dimgray;
    font-size: 17px;
    /* font-weight: bold; */
}

#activation {
    width: 180px;
    height: 29px;
}

#myCanvas, #lossCanvas {
    border: 1px solid black;
    width: 100%;
    height: 400px;
}

#myCanvas {
    padding-top: 25px;
}

#num {
    width: 250px;
    height: 36px;
    /* margin-top: 5px; */
}

.addHiddenLayers {
    margin-left: 30px;
}

.pleaseWait {
    margin-top: 20px;
    color: cornflowerblue;
    font-size: 15px;
    font-weight: bold;
    animation: blinker 2s infinite;
    /* visibility: hidden; */
    display: none;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.testing {
    box-shadow: 6px 6px 5px #cecdcd;
    padding: 30px;
    border-radius: 7px;
    border: 1px solid rgb(192, 191, 191);
}

#testdigit {
    width: 200px;
    height: 30px;
}

.grid {
    /* padding: 30px; */
    border-radius: 2px;
    border: 1px solid rgb(192, 191, 191);
    width: 302px;
    /* 60 block      or 250 with 50 block */
    height: 350px;
    /* 50 block */
}

.unit {
    display: inline-block;
    width: 20%;
    height: 14.3%;
    border: 0.5px solid black;
    padding: 0;
    margin: 0;
    float: left;
}

#output {
    padding-top: 5px;
}